* {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 1rem;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
}

/* Food */

.food-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 1150px;
  margin: 100px 25px 0 55px;
}

.food-container img {
  width: 100%;
  height: 55%;
  background-position: center;
}

.food-container figure {
  margin: 7px;
}

.food-container figcaption {
  text-align: center;
  font-size: 23px;
  margin-top: 10px;
}

.food-container p {
  text-align: center;
}

.food-container1 {
  display: flex;
  margin-top: -15px;
  padding-bottom: 15px;
  justify-content: center;
}

.food-span {
  background-color: black;
  color: white;
  padding: 10px 15px;
}

.food-container1 span {
  padding: 10px 15px;
}

.food-container1 span:hover {
  color: white;
  background-color: black;
}

.food-span:hover {
  color: black;
  background-color: gray;
}

.food-hr {
  margin-top: 30px;
  width: 95%;
  opacity: 0.3;
}

/* about */

.about-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 35px;
}

.about-p1 {
  font-size: 25px;
}

.about-p2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}

.about-p3 {
  text-align: center;
  line-height: 25px;
  margin: 0 60px;
}

.about-hr {
  width: 90%;
  margin-top: 8%;
  margin-bottom: 2%;
  opacity: 0.3;
}

/* footer */

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1100px;
  margin: auto;
}

.footer-container1 {
  display: flex;
}

.footer-container1 img {
  margin-right: 15px;
}

.footer-hr {
  opacity: 0.3;
}

.footer-p1 {
  font-size: 25px;
}

.footer-p2 {
  line-height: 1.6;
}

.footer-p3 {
  font-size: 18px;
}

.footer-p4 {
  line-height: 2;
}

.footer-p5 {
  margin-top: 10px;
  line-height: 1.6;
}

u {
  cursor: pointer;
}

label {
  color: white;
  background-color: black;
  padding: 5px 15px;
}

.footer-span {
  color: white;
  background-color: gray;
  padding: 5px;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .footer-p1 {
    font-size: 20px;
  }

  .food-container1 {
    margin-top: 15px;
  }

  .about-container img {
    width: 95%;
  }
}

@media only screen and (max-width: 425px) {
  .footer-container {
    display: block;
    margin: 25px;
  }

  .food-container1 {
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .footer-p5 {
    line-height: 2;
  }

  .food-container {
    display: block;
  }
}
