* {
  box-sizing: border-box;    
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 94%;
  margin: 10px 25px;
  font-size: 25px;
}

@media only screen and (max-width: 425px) {
  .nav-container {
    width: 85%;
  }
}
